<!DOCTYPE html>
<html lang="en" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container-fluid bg-secondary p-3">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" name="ch">
                        <button class="btn btn-light text-dark ms-3">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-1">
        <div class="row">
            <div class="col-md-2">
                <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action bg-secondary text-light">Категории</a>
                            <a href="#" class="list-group-item list-group-item-action">Категория 1</a>
                            <a href="#" class="list-group-item list-group-item-action">Категория 2</a>
                            <a href="#" class="list-group-item list-group-item-action">Категория 3</a>
                            <a href="#" class="list-group-item list-group-item-action">Категория 4</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body">
                        <p class="fs-3 text-center">Блог</p>
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <img src="/img/post_img/default.jpg" alt="">
                                        <p class="fs-5 text-center">Заголовок</p>
                                        <div class="row text-center">
                                            <a href="/item" class="btn btn-secondary col-md-6 offset-md-3">Подробнее</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</section>
</body>
</html>